.main-add-contacts{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button{
    width: 100px;
    background-color: darkgrey;
    border-bottom: 2px solid darkgrey;
  }

  button:hover{
    background-color: grey;
    border-bottom: 2px solid grey;
  }
}

