.form-edit-contact-style{
	width: 400px;
	margin: auto;
	padding: 16px;
	background: #F7F7F7;
}

.form-edit-contact-style h1{
	background: #FFA65B;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}

.form-edit-contact-style input[type="text"],
.form-edit-contact-style input[type="email"],
.form-edit-contact-style input[type="password"],
.form-edit-contact-style input[type="number"],
.form-edit-contact-style textarea,
.form-edit-contact-style select {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}

.form-edit-contact-style input[type="text"]:focus,
.form-edit-contact-style input[type="email"]:focus,
.form-edit-contact-style input[type="password"]:focus,
.form-edit-contact-style input[type="number"]:focus,
.form-edit-contact-style textarea:focus,
.form-edit-contact-style select:focus{
	box-shadow: 0 0 5px #FFA65B;
	padding: 3%;
	border: 1px solid #FFA65B;
}

.form-edit-contact-style input[type="submit"],
.form-edit-contact-style input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #FFA65B;
	border-bottom: 2px solid #FFA65B;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}

.form-edit-contact-style input[type="submit"]:hover,
.form-edit-contact-style input[type="button"]:hover{
  background: #df8943;
  border-bottom: 2px solid #df8943;
}